{% for opinion in opinions %}
        <div>
        
            <h4><a href="{{url_for('.show_opinion', opinion_id = opinion.id)}}">{{opinion.title|truncate}}</a></h4>
            <div>
                {% if opinion.update_time %}
                    {{moment(opinion.update_time).format('lll')}}
                {% else %}
                    {{moment(opinion.create_time).format('lll')}}
                {% endif %}
            </div>
            <div>
                Keyword:
                <small>
                {% for j in opinion.okm %}
                    {{j.keyword.content}}
                {% endfor %}
                </small>
            </div>

            <div>
                {{opinion.content|striptags|truncate}}
            </div>
        
        <hr>
        </div>
{% endfor %}