{% for opinion in opinions %}
        <!-- Blog Post -->
        <div class="card mb-4">
            <div class="card-body">
                <h2 class="card-title"><a href="{{url_for('.show_opinion', opinion_id = opinion.id)}}">{{opinion.title|truncate}}</a></h2>
                {% if opinion.update_time %}
                    {{moment(opinion.update_time).format('lll')}}
                {% else %}
                    {{moment(opinion.create_time).format('lll')}}
                {% endif %}
                <p class="card-text">{{opinion.content|striptags|truncate}}</p>
            </div>

            <div class="card-footer">
                Keyword:
                {% for j in opinion.okm %}
                    {{j.keyword.content}}
                {% endfor %}
            </div>
    </div>
{% endfor %}