{% for i in opinions %}
        <div>
        
            <h4><a href="{{url_for('.show_opinion', opinion_id = i.id)}}">{{i.title|truncate}}</a></h4>
            <div>
                {{moment(i.update_time).format('lll')}}
            </div>
            <div>
                Keyword:
                <small>
                {% for j in i.okm %}
                    {{j.keyword.content}}
                {% endfor %}
                </small>
            </div>

            <div>
                {{i.content|striptags|truncate}}
            </div>
        
        <hr>
        </div>
{% endfor %}