{% from "bootstrap/pagination.html" import render_pagination %}

{% extends "base.html" %}

{% block content%}
    <h3>Keywords</h3>
    <div class="row">
        <div class="col-md-10">
            {% for i in keywords %}
            <div>
                <a href="{{url_for('.show_keyword',keyword_id=i.id)}}">{{i.content}}</a>, {{i.okm|length}}
            </div>
            <br>
            {% endfor %}
        </div> 
        <div class="col-md-2">
            <a href="{{url_for('.new_keyword')}}">New Keyword</a>
        </div>
    </div>

    
{% endblock %}

{% block pagination%}
    {{render_pagination(pagination)}}
{% endblock pagination %}