{% from "bootstrap/pagination.html" import render_pagination %}

{% extends "base.html" %}

{% block content %}
    <h3>Keywords</h3>

        <div class="row">
            {% for i in keywords %}
            <div class="col-md-2">
                <a href="{{url_for('.show_keyword',keyword_id=i.id)}}">{{i.content}}</a>, {{i.okm|length}}
            </div>
            {% endfor %}
        </div>

{% endblock content %}


{% block pagination %}
    {{render_pagination(pagination)}}

{% endblock pagination %}



{% block _side %}

{% block operator %}
<div>
    <a class="btn" type="button" href="{{url_for('.new_keyword')}}" >New Keyword</a>
</div>
{% endblock operator %}

{% endblock _side %}



