{% extends "base.html" %}

{% from "bootstrap/pagination.html" import render_pagination %}


{% block content%}
    <h3>Opinions</h3>
    <br>
    {% include "main/_opinions.html" %}
{% endblock %}
{% block operator%}
<div>
    <a class="btn" type="button" href="{{url_for('.new_opinion')}}">New Opinion</a>
</div>
{% endblock operator%}

{% block search %}
<div class="card my-4">
  <h5 class="card-header">Search</h5>
  <div class="card-body">
    <div class="input-group">
      <form class="form-inline my-2 my-lg-0" action="{{url_for('main.search_opinion')}}">
        <input type="text" name="q" class="form-control mr-sm-1" placeholder="Search for..." required>
          <button class="btn btn-secondary my-2 my-sm-0" type="submit" id="opinion_search">Go
          </button>
      </form>
    </div>
  </div>
</div>
{% endblock search %}

{% block pagination%}
    {{render_pagination(pagination)}}
{% endblock pagination %}